<div class="container mt-5" *ngIf="auth.userProfile$ | async as profile">
  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{ profile.picture }}" alt=""/>
                </div>  
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{ profile.email }}
                            </h5>

                            <p class="proile-rating">Dernière visite : <span style="font-size: 12px">{{ profile.updated_at | date:'medium' }}</span></p>
                </div>
            </div>
        </div>
    </form>           
</div>
</div>
