<div class="next-steps my-5">
    <div class="row">
      <div class="col-md-10 mb-2">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/multifactor-authentication">
            <fa-icon [icon]="faReddit"></fa-icon> r/programming
          
          </a>
          <span class="posted_by">
            - Posted by <a href="">u/[user]</a> [hours] hours ago
          </span>
        </h6>
        <p>
          [topic question]
        </p>
        <div class="footer_topic">
          <span class="footer_comments">
            <fa-icon [icon]="faCommentAlt"></fa-icon> [number] Comments
          </span>
          <span class="footer_share">
            <fa-icon [icon]="faShare"></fa-icon> Share
          </span>
          <span class="footer_save">
            <fa-icon [icon]="faSave"></fa-icon> Save
          </span>
          <span class="footer_more">
            ...
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 mb-2">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/multifactor-authentication">
            <fa-icon [icon]="faReddit"></fa-icon> r/programming
          
          </a>
          <span class="posted_by">
            - Posted by <a href="">u/lucas</a> 20 hours ago
          </span>
        </h6>
        <p>
          Pourquoi on va en cours au juste ?
        </p>
        <div class="footer_topic">
          <span class="footer_comments">
            <fa-icon [icon]="faCommentAlt"></fa-icon> 10.6K Comments
          </span>
          <span class="footer_share">
            <fa-icon [icon]="faShare"></fa-icon> Share
          </span>
          <span class="footer_save">
            <fa-icon [icon]="faSave"></fa-icon> Save
          </span>
          <span class="footer_more">
            ...
          </span>
        </div>
      </div>
    </div>

  </div>
