/* You can add global styles to this file, and also import other style files */
.h-100 {
  background: #DAE0E6 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
  background-color: #d9534f  !important;
}